.ip-display-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; /* Ekranın tamamını kaplayacak şekilde */
}

.ip-details-box {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.find-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.find-button:hover {
    background-color: #0056b3;
}

.details {
    margin-top: 20px;
}
