.card-container {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  padding: 10px 0;
  justify-content: center; 
  flex-wrap: wrap;
  
}

.custom-card {
  position: relative;
  z-index: 1;
  width: 150px;
  cursor: pointer;
  overflow: visible;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), inset 0 0 0 2px #f45e61; /* Gölgeleri daha yumuşak hale getirdik */

  background: none;
  box-sizing: border-box;
  margin: 1em;
  padding: 0.5em 0.5em;
  color: #f45e61;
  font-size: inherit;
  font-weight: 700;
  vertical-align: middle;
}

.custom-card::before,
.custom-card::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}
.custom-card:hover {
  transform: translateY(-5px);   
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Geçiş efektleri için */
}
.draw {
  transition: color 0.25s, border-color 0.25s;
}
.draw::before, .draw::after {
  border: 6px solid transparent;
  width: 0;
  height: 0;
  border-radius: 8px;
  
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover {
  color: #60daaa;
}
.draw:hover::before, .draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  border-top-color: #60daaa;
  border-right-color: #60daaa;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
  border-bottom-color: #60daaa;
  border-left-color: #60daaa;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
.custom-card:hover {
  transform: translateY(-5px);
}
.product-image, .placeholder-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius:8px;
}


.placeholder-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  color: #aaa;
  font-size: 1rem;
  font-weight: bold;
}

.card-content {
  padding: 10px;
    text-align: center;
}

.product-name {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.product-price {
  font-size: 0.9rem;
  color: #555;
}



@media (max-width: 768px) {
  .custom-card {
    width: 100%;
  }
  .special-offer-ribbon {
    width: 100px;
    top: 10px;
    right: 0px;
    transform: rotate(0deg);
  }
}

@media (max-width: 480px) {
  .custom-card {
    width: 100%;
  }
  .special-offer-ribbon {
    width: 80px;
    font-size: 10px;
    padding: 3px 0;
  }
}
