.card-container.dark {
  background-color: black; 
  color: white;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

.custom-card {
  width: 200px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  text-align: center;
}
.custom-card.dark {
  background-color: #000;
  color: white;
}

.custom-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.1));
  opacity: 0;
  transition: opacity 0.3s ease;
}

.custom-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.custom-card:hover::before {
  opacity: 1;
}

.special-offer-ribbon {
  position: absolute;
  top: 10px;
  left: -20px;
  background: red;
  color: white;
  padding: 5px 20px;
  transform: rotate(-45deg);
  font-size: 0.8rem;
  font-weight: bold;
  z-index: 1;
}

.product-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.placeholder-image {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  color: #757575;
  font-size: 1.2rem;
}

.card-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
  color: #333;
}

.product-name.dark {
  color: white;
}

.product-price {
  font-size: 1rem;
  color: #333;
}

.product-price.dark {
  font-size: 1.5rem;
  color: white;
}

.price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.original-price {
  color: #757575;
  font-size: 0.9rem;
}

.discounted-price {
  color: #d32f2f;
  font-weight: bold;
  font-size: 1.1rem;
}

.small-text {
  font-size: 0.8rem;
  color: #757575;
}

.draw {
  position: relative;
}

.discounted {
  border: 2px solid #d32f2f;
}

/* New hover styles for dark theme */
.custom-card:hover .product-name,
.custom-card:hover .product-price,
.custom-card:hover .discounted-price,
.custom-card:hover .original-price,
.custom-card:hover .small-text {
  color: green;
}
