 /* LeftComponent.css */
  
 .button-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  .custom-button {
    font-size: 18px;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .custom-button-primary {
    background-color: #3498db;
    color: #fff;
  }
  
  .custom-button-success {
    background-color: #4caf50;
    color: #fff;
  }
  
  .custom-button-danger {
    background-color: #e74c3c;
    color: #fff;
  }
  
  .custom-button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  

  
  .campaign-button {
    background-color: #4caf50; /* Örnek renk */
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  /**/

   .campaign-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 10px;
  }
  
  .campaign-choice {
    background: #fff;
    border: 2px solid #007bff;
    color: #007bff;
    padding: 8px 16px;
    margin: 5px 0;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .campaign-choice.active {
    background: #007bff;
    color: #fff;
  }
  
  .campaign-choice:hover {
    background: #0056b3;
    color: #fff;
  }
  
  .active-campaign {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #007bff;
  }
  .product-box {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
  }
  
  .discounted .product-price {
    color: red;
    font-weight: bold;
  }
  
  .campaign-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff4d4d;
    color: white;
    padding: 5px 10px;
    border-bottom-left-radius: 8px;
    font-size: 12px;
    font-weight: bold;
  }
  
  .product-header {
    display: flex;
    justify-content: space-between;
  }
  
  .product-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .product-name-container {
    flex: 2;
  }
  
  .product-actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .product-quantity {
    margin: 0 10px;
  }
  
  .product-price {
    margin: 0 10px;
  }
  
  .remove-button {
    display: flex;
    align-items: center;
  }
    