/* LeftComponent.css */

.button-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.custom-button {
  font-size: 18px;
  padding: 15px 25px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

.custom-button-primary {
  background-color: #3498db;
  color: #fff;
}

.custom-button-success {
  background-color: #4caf50;
  color: #fff;
}

.custom-button-danger {
  background-color: #e74c3c;
  color: #fff;
}

.custom-button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.campaign-button {
  background-color: #4caf50; /* Örnek renk */
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
/**/

.campaign-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 10px;
}

.campaign-choice {
  background: #fff;
  border: 2px solid #007bff;
  color: #007bff;
  padding: 8px 16px;
  margin: 5px 0;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.campaign-choice.active {
  background: #007bff;
  color: #fff;
}

.campaign-choice:hover {
  background: #0056b3;
  color: #fff;
}

.active-campaign {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #007bff;
}
.product-box {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
}

.discounted .product-price {
  color: red;
  font-weight: bold;
}

.campaign-badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ff4d4d;
  color: white;
  padding: 5px 10px;
  border-bottom-left-radius: 8px;
  font-size: 12px;
  font-weight: bold;
}

.product-header {
  display: flex;
  justify-content: space-between;
}

.product-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-name-container {
  flex: 2;
}

.product-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-quantity {
  margin: 0 10px;
}

.product-price {
  margin: 0 10px;
}

.remove-button {
  display: flex;
  align-items: center;
}
/*FavoritesList*/
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.container.dark {
  padding: 5px;
  background-color: #3c3c3c;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
}
.container.light {
  padding: 5px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title.light {
  color: black;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}
.title.dark {
  color: white;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.pageNumber {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background: transparent;
  color: #333;
  font-size: 16px;
}

.activePage {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background: #007bff;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
}

/*CampaignProducts*/
.campaign-products-container {
  margin-top: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}
.campaign-products-container.dark {
  background-color: #333333;
  color: #ffffff;
}

.campaign-product-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.campaign-product-item:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.campaign-product-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 15px;
}

.campaign-product-details {
  flex: 1;
}

.campaign-product-details h3 {
  margin: 0;
  font-size: 1.2em;
}

.campaign-product-details p {
  margin: 5px 0;
}
h2 {
  margin-bottom: 20px;
}
.dialog-title {
  background-color: #ffffff;
  color: black;
}
.dialog-title.dark {
  background-color: black;
  color: white;
}
.dialog-content {
  background-color: #ffffff;
  color: black;
}
.dialog-content.dark {
  background-color: black;
  color: white;
}
.dialog-actions {
  background-color: #ffffff;
}
.dialog-actions.dark {
  background-color: black;
}

/*ModalSearch*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(7, 5, 5, 0.5); /* Semi-transparent background */
  z-index: 4000; /* Ensure modal is on top */
}

.modal-dialog {
  width: 80%; /* Adjust width as needed */
  max-width: 1200px; /* Maximum width */
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
  padding: 24px;
}

.dialog-title {
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 16px;
}

.search-input {
  width: 100%;
  margin-bottom: 16px;
}

.search-input .MuiOutlinedInput-input {
  padding: 12px 16px;
}

.search-input .MuiInputLabel-root {
  font-size: 1rem;
  background-color: #ffffff;
  padding: 0 8px;
  border-radius: 8px;
}

.favorite-button {
  background: linear-gradient(to right, #f6d365, #fda085);
  color: black;
  border-radius: 8px;
  font-weight: bold;
  padding: 8px 16px;
  cursor: pointer;
}

.letter-button {
  border-radius: 8px;
  font-size: 1rem;
  min-width: 32px;
  text-transform: none;
  padding: 8px 16px;
  cursor: pointer;
}

.all-products-button {
  border-radius: 8px;
  font-size: 1rem;
  padding: 8px 16px;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.pagination-button {
  border-radius: 8px;
  font-size: 0.875rem;
  padding: 8px 16px;
  min-width: 40px;
  text-transform: none;
  margin: 0 4px;
  cursor: pointer;
}
