 /* LeftComponent.css */
  
 .button-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  .custom-button {
    font-size: 18px;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .custom-button-primary {
    background-color: #3498db;
    color: #fff;
  }
  
  .custom-button-success {
    background-color: #4caf50;
    color: #fff;
  }
  
  .custom-button-danger {
    background-color: #e74c3c;
    color: #fff;
  }
  
  .custom-button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  

  
  