.code-font {
  font-family: 'Courier New', Courier, monospace; 
  font-size: 1em; 
  color: #333; 
  background-color: #f0f0f0; 
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  display: inline-block; 
}


.statistics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  min-height: 70vh; 
  padding: 20px;
  text-align: center;
}

.statistics-title {
  font-size: 2em;
  margin-bottom: 20px;
}

.statistics-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
}

.statistics-container.dark {
  background-color: #121212;
  color: white;
}

.statistics-container.light {
  background-color: #e4e2e7;
  color: black;
}
