.Main-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 30px);
   box-sizing: border-box;
  }
  
  .Main-container.dark {
    background-color: #3c3c3c;
  }
  
  .grid-container {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    margin-top: 16px;
    flex-grow: 1; /* Allow grid-container to grow and fill the remaining space */
    overflow: auto;
  }
  
  .paper-container {
    text-align: center;
    overflow: auto;
    margin: 8px;
    border: 1px solid #2b2d42;
    background-color: white;
  }
  
  .paper-container.dark {
    background-color: black;
    border: 1px solid white;
  }
  
  .panel {
    padding: 10px;
    color: black;
    font-size: 1em;
  }
  .panel.dark {
    color: white;
  }
  
  .MuiButton-root.custom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vh;
    margin: auto;
    padding: 15px;
    margin-top: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Yumuşak geçişler için transition ekleyin */
  }
  
  .MuiButton-root.custom-button:hover {
    background-color: #dbfa2c; /* Hover sırasında arka plan rengini değiştirin */
    color: black;
    transform: scale(1.05); /* Hover sırasında butonu biraz büyütün */
  }